Reponsive menu.master.cs
/*@media (min-width:767px) {
            .exo-menu > li > a {
                display: block;
                padding: 20px 22px;
            }

            li.drop-down > ul {
                position: absolute;
            }
        }

        @media (max-width:767px) {
            .exo-menu {
                min-height: 58px;
                background-color: #23364B;
                width: 100%;
            }

                .exo-menu > li > a {
                    width: 100%;
                    display: none;
                }

                .exo-menu > li {
                    width: 100%;
                }

            .display.exo-menu > li > a {
                display: block;
                padding: 20px 22px;
            }

            li.drop-down > ul {
                position: relative;
            }

            .visible-xs-block {
                display: block !important;
            }
                        #div-all > #bot {
                height: 40%;
            }
            #bot {
                display: block!important;
                width: 100%;
                height: 20%;
                background-color: gray;
            }

            .footer {*/
/*display: inline;*/
/*float: left;
                margin: 2% 15%;
            }
        }*/

Repnosive sigin
/*        @media (max-width:767px) {
            .form {
                width: 70%;
                height: 50%;
            }
            input {
                width: 98%;
            }
        }*/
reponsive signup
/*        @media (max-width:767px) {
            .form {
                width: 70%;
                height: 80%;
            }
            input {
                width: 98%;
            }
        }*/